@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url("./partials/reset.css");
@import url("./partials/variables.css");
/* @import url("./partials/grid.css"); */
/* @import url("./partials/utility.css"); */
@import url("./partials/bs-selects.css");
@import url("./partials/layout.css");
@import url("./partials/typography.css");
@import url("./partials/controls.css");
@import url("./partials/components.css");


/* TODO import: spacing (margins, paddings), display (d-), width/height, align-items-center */

:root {
  font-family: "Exo 2";
  line-height: 1.5;
}

:focus-visible {
  outline: 3px solid #56b6ffc0 !important;
  outline-offset: 0px;
  /* border: none; */
  /* border-radius: inherit; */
}

[hidden][hidden][hidden][hidden][hidden][hidden][hidden][hidden] {
  display: none !important;
}